body {
    background-color: #3d3d3d;
    color: #FFC800;
    font-family: arial;
    letter-spacing: .5px;
}

h1 {
    color: #FFC800;
    font-family: tahoma, verdana, segoe, sans-serif;
    letter-spacing: 2px;
}

input[type=text] {
    background-color: #B9D0B9;
}

input[type=submit] {
    background-color: #B9D0B9;
}

.login_page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_page {
    select {
        background-color: #B9D0B9;
    }
    select>option {
        background-color: #B9D0B9;
    }
    input[type="checkbox"] {
        accent-color: #FFC800;
    }
    button {
        background-color: #B9D0B9;
    }
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc800;
  color: #3d3d3d;
  text-decoration: none;
  border: 1px solid #ebb800;
  border-radius: 5px;
}

.button-link:hover {
  background-color: #ebb800;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffc800;
}

ul li {
    display: inline-block;
}

.nav-links li a {
    display: inline-block;
    color: #3d3d3d;
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.nav-links li a:hover {
    background-color: #ebb800;
}

#logo {
    font-family: tahoma, verdana, segoe, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 65px;
    color: #fff;
    text-shadow: 0 3px 20px red,
                    0 0 20px red,
                    0 0 10px orange,
                    4px -5px 6px yellow,
                    -4px -10px 10px yellow,
                    0 -10px 30px yellow;
    animation: fire 2s infinite alternate linear;
}

@keyframes fire {
    0% {
        text-shadow: 0 3px 20px red,
                     0 0 20px red,
                     0 0 10px orange,
                     4px -5px 6px yellow,
                     -4px -10px 10px yellow,
                     0 -10px 30px yellow;
      }

    25% {
          text-shadow: 0 3px 20px red,
                       0 0 20px red,
                       0 0 10px orange,
                       -2px -5px 5px yellow,
                       3px -10px 10px yellow,
                       -4 -15px 20px yellow;
      }

    50% {
          text-shadow: 0 3px 20px red,
                       0 0 20px red,
                       0 -5px 10px orange,
                       3px -10px 10px yellow,
                       -4px -15px 20px yellow,
                       2px -20px 30px yellow;
      }

    75% {
          text-shadow: 0 3px 20px red,
                       0 0 20px red,
                       0 -5px 10px orange,
                       3px -10px 5px yellow,
                       2px -20px 30px yellow,
                       0 -25px 40px yellow;
      }

    100% {
          text-shadow: 0 3px 20px red,
                       0 0 10px red,
                       0 0 0 orange,
                       0 0 5px yellow,
                       -2px -5px 5px yellow,
                       4px -10px 10px yellow;
      }
}
