body {
    background-color: #3d3d3d;
    color: #FFC800;
    font-family: arial;
    letter-spacing: .5px;
    font-size: 20px;
}

h1 {
    color: #FFC800;
    font-family: tahoma, verdana, segoe, sans-serif;
    letter-spacing: 2px;
}

input[type=text] {
    background-color: lightgray;
}

input[type=submit] {
    background-color: lightgray;
}

.login_page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_page {
    select {
        background-color: lightgray;
    }
    select>option {
        background-color: lightgray;
    }
    input[type="checkbox"] {
        accent-color: #FFC800;
    }
    button {
        background-color: lightgray;
    }
}

.create_acct_page {
    text-align: center;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc800;
  color: #3d3d3d;
  text-decoration: none;
  border: 1px solid #ebb800;
  border-radius: 5px;
}

.button-link:hover {
  background-color: #ebb800;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffc800;
}

ul li {
    display: inline-block;
}

.navbar {
    width: 100%;
    background-color: #ffc800;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: #3d3d3d;
    text-decoration: none;
    font-size: 17px;
    width: 18.25%;
    text-align: center; /* If you want the text to be centered */
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ebb800;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.drop-btn {
    padding: 12 px;
    color: #3d3d3d;
    text-decoration: none;
    font-size: 17px;
    text-align: center; /* If you want the text to be centered */
    font-weight: bold;
}

.login-dropdown a {
    padding: 12 px;
    color: #3d3d3d;
    text-decoration: none;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
}


.drop-btn {
    background-color: #ffc800;
    color: #3d3d3d;
    font-family: arial;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.drop-btn:hover, .drop-btn:focus {
    background-color: #ebb800;
}

.login-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-family: arial;
    position: fixed;
    top: 60px;
    right: 10px;
    background-color: #FFC800;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #3d3d3d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ebb800;}

.show {display: block;}

#logo {
    font-family: tahoma, verdana, segoe, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 65px;
    color: #fff;
    text-shadow: 0 3px 20px red,
                    0 0 20px red,
                    0 0 10px orange,
                    4px -5px 6px yellow,
                    -4px -10px 10px yellow,
                    0 -10px 30px yellow;
    animation: fire 2s infinite alternate linear;
}

@keyframes fire {
    0% {
        text-shadow: 0 3px 20px red,
                     0 0 20px red,
                     0 0 10px orange,
                     4px -5px 6px yellow,
                     -4px -10px 10px yellow,
                     0 -10px 30px yellow;
      }

    25% {
          text-shadow: 0 3px 20px red,
                       0 0 20px red,
                       0 0 10px orange,
                       -2px -5px 5px yellow,
                       3px -10px 10px yellow,
                       -4 -15px 20px yellow;
      }

    50% {
          text-shadow: 0 3px 20px red,
                       0 0 20px red,
                       0 -5px 10px orange,
                       3px -10px 10px yellow,
                       -4px -15px 20px yellow,
                       2px -20px 30px yellow;
      }

    75% {
          text-shadow: 0 3px 20px red,
                       0 0 20px red,
                       0 -5px 10px orange,
                       3px -10px 5px yellow,
                       2px -20px 30px yellow,
                       0 -25px 40px yellow;
      }

    100% {
          text-shadow: 0 3px 20px red,
                       0 0 10px red,
                       0 0 0 orange,
                       0 0 5px yellow,
                       -2px -5px 5px yellow,
                       4px -10px 10px yellow;
      }
}
